# Ignore editor-specific files and directories
.vscode/

# Ignore compiled object files and executables
*.o
*.out
*.exe
main

# assembly
.s
malloc.so

# tests
test-0
test-1
test-2
test-3
test-4


# Ignore macOS system files
.DS_Store
